     * {
            padding: 0;
            margin: 0;
            list-style: none;
            text-decoration: none;
            box-sizing: border-box;


        }

        .contacto {
            max-width: 600px;
            margin: 50px auto;
            font-family: Arial;
        }

        .contact-form {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); 
            border-radius: 15px;
            padding: 25px;
            
        }

        .contact-form input,
        .contact-form textarea {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
            
        }

        .contact-form textarea{
            height: 50px;
            resize: none;
            height: 200px;

        }

        .contact-form button {
            padding: 10px;
            background: black;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 10px;
        }

        .resultado {
            margin-top: 10px;
        }