       
            /* * {outline: 1px solid red;} */
            /* border:solid 1px #62BA1B; */
       


        /* ---------- GENERAL ---------- */
        * {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
            box-sizing: border-box;
            
            
        }
        
        
            body::-webkit-scrollbar {
            display: none;
}
        


        /* ---------- VARIABLES ---------- */
        :root {
            --font_IBM_Plex_mono: 'IBM Plex Mono', monospace;
            --font_Raleway: 'Raleway', sans-serif;
            --font_color_gray_menu: #9C9C9C;
            --iconos_work_width: #444444;
            --color_background_label: #161616;
            --color_botom_green_action: #62ba1b80;
          
        }


        /* ---------- MAIN HEADER ---------- */
        .contenedor_general_header {
            display: flex;
            flex-direction: column;
            background-color: black;
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 100px;
            margin: 0 auto;
        }

        /* ---------- MENÚ - NAV - SOCIAL MEDIA ---------- */
        .nav_top {
            display: flex;
            background-color: #1B1B1B;
            max-width: 1110px;
            width: 100%;
            margin: 0 auto;
            height: 70px;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 10px 10px;
            gap: 100px;
        }

        .menu {
            display: flex;
            background-color: #1B1B1B;
            margin: auto;
            gap: 60px;
            width: 100%;
        }

        .menu li a {
            color: var(--font_color_gray_menu);
            font-family: var(--font_IBM_Plex_mono);
            font-size: 14px;
            letter-spacing: 1px;
            
        }

        .menu li a:hover {
            color: white;
            transition: 0.3s;
        }

        .iconos {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }


        /* ---------- CONTAINER NAME_PHOTO (PROFILE PICTURE)  ---------- */
        .name_photo {
            display: flex;
            max-width: 950px;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            gap:20px;
        }

        .imagen_perfil {
            display: flex;
            align-items: center;   
        }

        .imagen_perfil img{
             object-fit: cover;
        }

        /* ---------- SUB-CONTENER NAME, DESCRIPTION AND GREEN BUTTON (ACTION) ---------- */
        .name_description {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            max-width: 580px;
            justify-content: space-between;
            padding: 20px;
        }

        .name_description h1 {
            color: white;
            font-family: var(--font_Raleway);
            font-size: 44px;
        }

        .name_description p {
            color: white;
            margin-top: 10px;
            color: var(--font_color_gray_menu);
            font-family: var(--font_IBM_Plex_mono);
            font-size: 14px;
            line-height: 1.6;
            letter-spacing: 1px;
        }

        .accion {
            display: flex;
            margin-top: 20px;
            color: white;
            background-color: #3F8E00;
            box-shadow: 0px 8px 24px #62ba1b4d;
            width: 307px;
            height: 67px;
            border-radius: 7px;
            align-items: center;
            justify-content: center;
            font-family: var(--font_IBM_Plex_mono);
            font-weight: bold;
            font-size: 16px;
            border: solid 1px #62ba1b4d;
            transition: 0.4s;
        }
        
        .accion:hover {
            color: var(--font_color_gray_menu);
            

        }

        /* ---------- WORK WITH BUTTONs  ---------- */
        
        .div_line_work_with{
            width: 100%;
            max-width: 950px;
        }
        .line_work_with{
            color: white;
            font-family: var(--font_IBM_Plex_mono);
            letter-spacing: 1px;
            font-size: 12px;
            margin:20px;
            
           
        }
        .worked_with {
            display: flex;
            flex-wrap: wrap;
            max-width: 950px;
            width: 100%;
            height: auto;
            margin-bottom: 50px;
            justify-content: space-between;
            align-items: center;
        }

        .iconos_worked_with {
            display: flex;
            align-items: center;
            gap: 15px;
            width: 160px;
            height: 60px;
            border-radius: 5px;
            border: 1px solid var(--iconos_work_width);
            justify-content: center;
        }

        .iconos_worked_with a {
            color: var(--iconos_work_width);
            border: none;
            font-family: var(--font_Raleway);
            font-weight: bold;
            font-size: 18px;
            cursor: default;
        }

        .iconos_worked_with img {
            width: 40px;
            height: 40px;
        }


        /* ---------- PROYECTOS SECTION - section-1  ---------- */
        
        
        .proyectos {
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            padding: 15px;
        }
        
        .proyectos h2 {
            font-family:var(--font_Raleway);
            font-weight: bold;
            font-size: 24 px;
        }

        .proyectos .mis_proyectos {
            font-family: var(--font_IBM_Plex_mono);
            font-size: 14px;
            color: var(--font_color_gray_menu);
            text-align: center;
            max-width: 570px;
            width: 100%;
            letter-spacing: 1px;
            margin-top: 20px;
            line-height: 24px;
        }

        .caja1 {
            display: flex;
            margin-top: 80px;
            max-width: 897px;
            max-height: 300;
            height: 100%;
            width: 100%;
            justify-content: space-between;
            gap:60px;
        }

        .caja_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:10px;
            max-width: 431px;
            width: 100%;
        }

        .caja1_tag{
            font-family: var(--font_IBM_Plex_mono);
            font-size: 12px;
            background-color: #bab8b5 ;
            max-width: 90px;
            text-align: center;
            padding: 5px;
            border-radius: 15px;
            color:  #4d4c4c;
            transform: scaleY(0.9);
        }

       .caja_h3{
            font-family: var(--font_Raleway);
            font-size: 24px;
            transform: scaleY(0.9);
        }

        .caja_p{
            width: 100%;
            letter-spacing: 1px;
            margin-top: 10px;
            line-height: 24px;
            color: var(--font_color_gray_menu);
            font-family: var(--font_IBM_Plex_mono);
            font-size: 14px;
        }
        
        .caja_imagen1 {
            display:flex;
            align-items: center;
        }
        
        .caja_imagen1 img{
            max-width: 445px;
            width: 100%;
            border-radius: 5px; 
        }

        .caja1_a{
            background-color: #4d4c4c ;
            max-width: 150px;
            text-align: center;
            padding: 15px;
            border-radius: 5px;
            color: #bab8b5;
            font-family: var(--font_IBM_Plex_mono);
            font-size: 14px;
            transform: scaleY(0.9);
            font-weight: bold;
            margin-top: 20px;
        }

        .caja2 {
            display: flex;
            margin-top: 80px;
            max-width: 897px;
            max-height: 300;
            height: 100%;
            width: 100%;
            justify-content: space-between;
            gap:60px;
        }

        .caja_imagen2 {
            display:flex;
            align-items: center;
            order:-1;
        }
        
        .caja_imagen2 img{
            max-width: 445px;
            width: 100%;
            border-radius: 5px;    
        }

        .caja2_tag{
            font-family: var(--font_IBM_Plex_mono);
            font-size: 12px;
            background-color: #E0FFF8 ;
            max-width: 90px;
            text-align: center;
            padding: 5px;
            border-radius: 15px;
            color: #2AB090;
            transform: scaleY(0.9);
        }

        .caja2_a{
            background-color: #2AB090;
            max-width: 150px;
            text-align: center;
            padding: 15px;
            border-radius: 5px;
            color: #E0FFF8;
            font-family: var(--font_IBM_Plex_mono);
            font-size: 14px;
            transform: scaleY(0.9);
            font-weight: bold;
            margin-top: 20px;
        }

        .caja3_tag{
            font-family: var(--font_IBM_Plex_mono);
            font-size: 12px;
            background-color: #FFF6E9 ;
            max-width: 90px;
            text-align: center;
            padding: 5px;
            border-radius: 15px;
            color: #FFA217;
            transform: scaleY(0.9);
        }
         
        .caja3_a{
            background-color: #FFA217 ;
            max-width: 150px;
            text-align: center;
            padding: 15px;
            border-radius: 5px;
            color: #FFF6E9;
            font-family: var(--font_IBM_Plex_mono);
            font-size: 14px;
            transform: scaleY(0.9);
            font-weight: bold;
            margin-top: 20px;
        }



/* ---------- PORTFOLIO-ONE-PAGE - section-2  ---------- */
        .portfolio_one-page{
            display: flex;
            flex-direction: column;
            background-color: black;
            color:white;
            justify-content: center;
            align-items: center;
            margin-top: 90px;
            gap: 40px;
            padding: 20px;
        }
         
        .portfolio_one-page-description{
            display: flex;
            flex-direction: column;
            gap:20px;
            max-width: 897px;
        }


        .portfolio_one-page-description h2{
            margin-top: 20px;
            font-family: var(--font_IBM_Plex_mono);
            font-size: 60px;
            text-align: center;
            /* color:var(--font_color_gray_menu); */
        }

        .label{
            font-family: var(--font_IBM_Plex_mono);
            align-self: flex-start;
            text-align: left;
            /* background-color: var(--color_background_label); */
            /* border-radius: 5px; */
            padding: 10px;
            transform: scaley(0.9);
            max-width: 180px;
            margin-top: 40px;
            
           
        }

        .portfolio_one-page_p {
            
            font-family: var(--font_IBM_Plex_mono);
            letter-spacing: 1px;
            font-size: 14px;
            line-height: 24px;
            color: var(--font_color_gray_menu);
            text-indent: 30px;
            text-align: justify;
              
        }

        .cajas_portfolio{
            display: flex;
            flex-direction: column;
            gap:50px;
            max-width: 897px;
            align-items: center;

        }

        .cajas_portfolio_historia{
            display: flex;
            margin-top: 0px;
            align-items: center;
            max-width: 897px;
            justify-content: space-between;
            gap: 60px;
            background-color: var(--color_background_label);
            padding:10px;
            border-radius: 10px;
        }

        .label_description{
            gap: 50px;
        }

        .cajas_portfolio_historia img{
            max-width: 345px ;
            border-radius: 10px;
            border: solid 1px;
            border-color: var(--color_background_label);
            /* width: 100%; */
                    
        }

        .orden {
            order: -1;
        }


        /* - leer más... - section-2  - */
           
       .hide{
             display: none;
       }

       .show{
             display: block;
       }

       .readMore_btn{
            padding: 5px;
            border-style: none;
            border-radius: 5px;
            cursor: pointer;
       }

       /* ---------- BIKE WORLD - section-3  ---------- */
       
       .hero{
            position: relative;
            width: 100%;
            padding-top: 0px;
            background-color: black;
           
            
       }
       
       .caja_hero{
            display: flex;
            flex-direction: column;
            position: absolute; 
            right: 0;
            top: 40%;
            left: 50%;
            gap:20px;
            border-radius: 5px;
            width: 50%;
            transition: width 0.4 ease;
            /* max-width: 100%; */
            /* transform: translateX(-10%, -10%); */

            padding-left: 10px;
            padding-right: 10px;
            background-color: #00000080;
       
       }

       

       .hero img{
            display: block;
            width: 100%;
            height: 700px;
            object-fit: cover; 
            

       }
    
        .hero h2{
            color:white;
            font-family: var(--font_Raleway);
            font-size: clamp(40px, 5vw, 100px);
       
       }

       .label_enfoque_hero{
            font-size: clamp(20px, 3vw, 40px);
            font-family: var(--font_IBM_Plex_mono);
            color:white;
        
       }

       .text_enfoque_hero{
            color:white;
            max-width: 500px;
            font-size: clamp(14px, 2vw, 18px);
            font-family: var(--font_IBM_Plex_mono);
            line-height: 24px;
            letter-spacing: 1px;
            max-width: 280px;

       }


       .bike_world{
            background-color: white;
            color: var(--color_botom_green_action);
            display: flex;
            flex-direction: column;
            max-width: 897px;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            gap: 10px;
            margin: 10px;
         
        }
        
 
       
        

        .centrar_texto{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .portfolio_one-page3{
            background-color: white;
            color: var(--color_botom_green_action);
            margin-top: 10px;
            
        }

        .label_description3{
            gap: 50px;
            max-width: 897px;

        }

        .label3{
            font-size: 40px;;
        }





        /* ++++++++++ RESPONSIVE ++++++++++ */

        /* ++++++++++ HAMBURGER ++++++++++ */
        #toggle-menu {
            display: none;
        }

        .hamburger {
            color: var(--font_color_gray_menu);
            font-size: 40px;
            display: none;
        }

        @media (max-width: 1110px) {

            .hamburger {
                display: block;
                padding: 20px;
                width: 100%;
                cursor: pointer;
            }
            
            #toggle-menu:checked+.hamburger+.menu {
                max-height: 500px;
                opacity: 1;
                transform: translateY(0px);
            }

           
            /* ++++++++++ MENÚ - NAV - SOCIAL MEDIA ++++++++++ */
            .iconos {
                padding: 20px
            }

            .nav_top {
                display: inline-block;
                width: 100%;
                height: auto;
                justify-content: space-between;
            }

            .menu {
                max-height: 0px;
                overflow: hidden;
                opacity: 0;
                transition: 0.6s ease;
                flex-direction: column;
                width: 100%;
                gap: 0px;
                margin-left: 0px;
                transform: translateY(10px);
            }

            .menu li {
                width: 100%;
                padding: 20px;
            }

            .menu li a {
                width: 100%;
                height: 100%;
            }
        }    
            /* ++++++++++ CONTAINER NAME_PHOTO (PROFILE PICTURE)  ++++++++++ */
        @media (max-width: 950px){
                
            /* ++++++++++ MAIN CONTAINER ++++++++++ */
            .contenedor_general_header {
                 gap: 20px;
            }
            .name_description {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .name_description h1 {
                font-size: 25px;
            }

            .name_description p {
                padding: 20px;
                text-align: center;
            }

            .name_photo {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .imagen_perfil {
                order: -1;
                width: 150px;
                height: 150px;
            }

            .imagen_perfil img {
                width: 100%;
                height: 100%;                    
            }
            /* ++++++++++ WORK WITH BUTTONs  ++++++++++ */
            .worked_with {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 20px;
                padding: 20px;
            }

            .worked_with a {
                font-size: 14px;
            }

            .worked_with img {
                width: 40px;
                height: 40px;
            }

            .worked_with .iconos_worked_with {
                gap: 10px;
                width: 140px;
                height: 40px;
            }

              /* ++++++++++ sección 2 ++++++++++ */

            .portfolio_one-page-description h2{
                font-size: 60px;
            }

            
        }    
                /* ++++++++++ CAJAS  ++++++++++ */

         @media (max-width: 780px){
                    
            .caja1 {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            
            .caja2 {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            .caja_imagen2 {
                order: 1;
            }
            

                 /* ++++++++++ sección 2 ++++++++++ */

            .portfolio_one-page-description h2{
                font-size: 40px;
            }

            .cajas_portfolio_historia{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .orden {
                order: 1;
            }
            
        }    

