         /*{
            /*outline:1px solid red; */
            /* border:solid 1px #62BA1B; */
        /*}


        /* ---------- GENERAL ---------- */
        * {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
            box-sizing: border-box;
        }


        /* ---------- VARIABLES ---------- */
        :root {
            --font_IBM_Plex_mono: 'IBM Plex Mono', monospace;
            --font_color_gray_menu: #9C9C9C;
            --iconos_work_width: #444444;
        }


        /* ---------- MAIN HEADER ---------- */
        .contenedor_general_header {
            display: flex;
            flex-direction: column;
            background-color: black;
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 100px;
            margin: 0 auto;
        }

        /* ---------- MENÚ - NAV - SOCIAL MEDIA ---------- */
        .nav_top {
            display: flex;
            background-color: #1B1B1B;
            max-width: 1110px;
            width: 100%;
            margin: 0 auto;
            height: 70px;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 10px 10px;
            gap: 100px;
        }

        .menu {
            display: flex;
            background-color: #1B1B1B;
            margin: auto;
            gap: 60px;
            width: 100%;
        }

        .menu li a {
            color: var(--font_color_gray_menu);
            font-family: var(--font_IBM_Plex_mono);
            font-size: 14px;
            letter-spacing: 1px;
            
        }

        .menu li a:hover {
            color: white;
            transition: 0.3s;
        }

        .iconos {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }


        /* ---------- CONTAINER NAME_PHOTO (PROFILE PICTURE)  ---------- */
        .name_photo {
            display: flex;
            max-width: 950px;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            align-items: center;
            gap:20px;
        }

        .imagen_perfil {
            display: flex;
            object-fit: cover;
            justify-content: space-between;
            align-items: center;   
        }

        /* ---------- SUB-CONTENER NAME, DESCRIPTION AND GREEN BUTTON (ACTION) ---------- */
        .name_description {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            max-width: 580px;
            justify-content: space-between;
            padding: 20px;
        }

        .name_description h1 {
            color: white;
            font-family: "Raleway", sans-serif;
            font-size: 44px;
        }

        .name_description p {
            color: white;
            margin-top: 10px;
            color: var(--font_color_gray_menu);
            font-family: var(--font_IBM_Plex_mono);
            font-size: 14px;
            line-height: 1.6;
            letter-spacing: 1px;
        }

        .accion {
            display: flex;
            margin-top: 20px;
            color: white;
            background-color: #3F8E00;
            box-shadow: 0px 8px 24px #62ba1b4d;
            width: 307px;
            height: 67px;
            border-radius: 7px;
            align-items: center;
            justify-content: center;
            font-family: var(--font_IBM_Plex_mono);
            font-weight: bold;
            font-size: 16px;
            border: solid 1px #62ba1b4d;
        }
        
        .accion:hover {
            color: var(--font_color_gray_menu);
            transition: 0.4s;

        }

        /* ---------- WORK WITH BUTTONs  ---------- */
        
        .div_line_work_with{
            width: 100%;
            max-width: 950px;
        }
        .line_work_with{
            color: white;
            font-family: var(--font_IBM_Plex_mono);
            letter-spacing: 1px;
            font-size: 12px;
            margin:20px;
            
           
        }
        .worked_with {
            display: flex;
            flex-wrap: wrap;
            max-width: 950px;
            width: 100%;
            height: auto;
            margin-bottom: 50px;
            justify-content: space-between;
            align-items: center;
        }

        .iconos_worked_with {
            display: flex;
            align-items: center;
            gap: 15px;
            width: 160px;
            height: 60px;
            border-radius: 5px;
            border: 1px solid var(--iconos_work_width);
            justify-content: center;
        }

        .iconos_worked_with a {
            color: var(--iconos_work_width);
            border: none;
            font-family: "Raleway", sans-serif;
            font-weight: bold;
            font-size: 18px;
            cursor: default;
        }

        .iconos_worked_with img {
            width: 40px;
            height: 40px;
        }


        /* ++++++++++ RESPONSIVE ++++++++++ */

        /* ++++++++++ HAMBURGER ++++++++++ */
        #toggle-menu {
            display: none;
        }

        .hamburger {
            color: var(--font_color_gray_menu);
            font-size: 40px;
            display: none;
        }

        @media (max-width: 1110px) {

            .hamburger {
                display: block;
                padding: 20px;
                width: 100%;
                cursor: pointer;
            }
            
            #toggle-menu:checked+.hamburger+.menu {
                max-height: 500px;
                opacity: 1;
                transform: translateY(0px);
            }

           
            /* ++++++++++ MENÚ - NAV - SOCIAL MEDIA ++++++++++ */
            .iconos {
                padding: 20px
            }

            .nav_top {
                display: inline-block;
                width: 100%;
                height: auto;
                justify-content: space-between;
            }

            .menu {
                max-height: 0px;
                overflow: hidden;
                opacity: 0;
                transition: 0.6s ease;
                flex-direction: column;
                width: 100%;
                gap: 0px;
                margin-left: 0px;
                transform: translateY(10px);
            }

            .menu li {
                width: 100%;
                padding: 20px;
            }

            .menu li a {
                width: 100%;
                height: 100%;
            }

            /* ++++++++++ CONTAINER NAME_PHOTO (PROFILE PICTURE)  ++++++++++ */
            @media (max-width: 950px){
                
                /* ++++++++++ MAIN CONTAINER ++++++++++ */
                .contenedor_general_header {
                gap: 20px;
                }
                .name_description {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .name_description h1 {
                    font-size: 25px;
                }

                .name_description p {
                    padding: 20px;
                    text-align: center;
                }

                .name_photo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .imagen_perfil {
                    order: -1;
                    width: 150px;
                    height: 150px;
                }

                .imagen_perfil img {
                    width: 100%;
                    height: 100%;                    
                }
                /* ++++++++++ WORK WITH BUTTONs  ++++++++++ */
                .worked_with {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 20px;
                    padding: 20px;
                }

                .worked_with a {
                    font-size: 14px;
                }

                .worked_with img {
                    width: 40px;
                    height: 40px;
                }

                .worked_with .iconos_worked_with {
                    gap: 10px;
                    width: 140px;
                    height: 40px;
                }
           
            }

        }