*{
            /* outline:1px solid red; */
        }

       *{
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
            box-sizing: border-box;
        }

        :root {
            --font_IBM_Plex_mono: 'IBM Plex Mono', monospace;
            --font_color_gray_menu: #9C9C9C;
            --iconos_work_width:#444444;
        }
        /* .body{
            display: flex;
            background-color: black;
            align-items: center;
            min-height: 100vh;

        } */
        .contenedor_general_header{
            display: flex;
            flex-direction: column;
            background-color: black;
            /* max-width: 1280px; */
            width:100%;
            align-items: center;
            justify-content: center;
            gap:100px;
            margin: 0 auto;

        }
        .nav_top{
            display:flex;
            background-color: #1B1B1B ;
            min-width:1110px;
            height: 70px;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 10px 10px;
           
            

        }

        .menu{
            display:flex;
            background-color: #1B1B1B;
            margin: auto;
            gap: 103px

            
        }
        .menu li a{
            color: var(--font_color_gray_menu);
            font-family: var(--font_IBM_Plex_mono);
            font-size: 14px;
            letter-spacing: 1%;
        }
        .nav_top{
            display: flex;
            align-items: center;
            justify-content: center;
            gap:100px
        }
        
        .iconos{
            display: flex;
            align-items: center;
            justify-content: center;
            gap:20px;

        }
        .name_description{
            display: flex;
            flex-direction: column;
            width:538px;
        }
        .name_description h1{
            color: white;
            font-family: "Raleway", sans-serif;
            font-size: 44px;
            

        }
        .name_description p{
            color:white;
            margin-top: 10px;
            color:var(--font_color_gray_menu);
            font-family: var(--font_IBM_Plex_mono);
            font-size: 14px;
            line-height: 1.6;
            letter-spacing: 1px;
           
            
        }
        
        .name_photo {
            display: flex;
            align-items: center;
            gap:80px;
            max-width: 950px;

        }
        
        .accion{
            display: flex;
            margin-top: 20px;
            color:white;
            background-color: #3F8E00;
            border-color: #62BA1B;
            box-shadow: 0px 8px 24px #62ba1b4d;
            width: 307px;
            height: 67px;
            border-radius: 7px;
            align-items: center;
            justify-content: center;
            font-family: var(--font_IBM_Plex_mono);
            font-weight: bold;
            font-size: 16px;
            border-color:#3F8E00;


        }
        .imagen_perfil {
            width: 350px;
            height: 350px;
        }
        .worked_with{
            display: flex;
            min-width: 950px;
            height: auto;
            margin-bottom: 50px;
            justify-content:space-between;
            align-items: center;
            


        }
        .iconos_worked_with{
            display:flex;
            align-items: center;
            gap:15px;
            width: 160px;
            height: 60px;
            border-color: #3F8E00;
            /* box-shadow: 5px 5px 5px rgba(255, 254, 254, 0.1); */
            border-radius: 5px;
            border: 1px solid var(--iconos_work_width);
            justify-content: center;
            /* padding:5px 15px; */
        }

        .iconos_worked_with a{
            color:var(--iconos_work_width);
            border:none;
            font-family: "Raleway", sans-serif;
            font-weight: bold;
            font-size: 18px;
        }

        .iconos_worked_with img{
            width: 40px;
            height: 40px;
        }